$rose-jungle : #ef4850;
$rose-roger : #ff6c73;
$rose-lamute : #f8bcbf;
$bleu-jungle : #204762;
$bleu-roger : #397395;
$bleu-lamute : #bae1fd;
$gris-jungle : #333333;
$gris-roger : #404a56;
$gris-lamute :#7f8894;
$gris-lamute-50 :#BFC3C9;
$gris-janine :#f1f1f1;
